$dpxBackgroundColor: #444 !default;
$dpxActiveColor: #06f !default;
$weekEndColor: #f99;
$dpxDaySize: 40px !default;
$dpxWeekdaySize: 24px !default;

.dpx-container {
    display: inline-block;
    position: relative;

    .dpx-input {
        width: 100%;
        text-align: center;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .5rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        // background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        &::placeholder {
            color: lightgray;
        }
    }

    .dpx-calendar-wrapper {
        z-index: 999;
        position: absolute;
        top: 100%;
        margin: 8px 0 0 0;
        opacity: 0;
        transform: translateX(-100%);
        transition: transform 500ms, opacity 500ms;

        &.active {
            opacity: 1;
            transform: translateX(0);
        }
        &.to-top {
            bottom: 100%;
            top: auto;
            margin: 0 0 8px 0;;
        }
    }
}

.dpx-calendar-inner {
    position: relative;
    perspective: 1000px;

    .dpx-front, .dpx-back {
        background-color: $dpxBackgroundColor;
        position: absolute;      
        backface-visibility: hidden;
        transition: 1000ms;
    }
    
    .dpx-back {
        transform: rotateY(180deg);
    }
    
    &.rotate {
        .dpx-front {
            transform: rotateY(180deg);
        }
        .dpx-back {
            transform: rotateY(360deg);
        }
    }
}

.dpx-calendar {
    box-sizing: content-box;
    color: #fff;
    display: block;
    font-size: 1rem;
    padding: 10px;
    user-select: none;
    width: $dpxDaySize * 7;
    
    * {
        box-sizing: border-box;
    }
    .dpx-title-box {
        align-items: center;
        border-bottom: 1px solid #ccc;
        display: flex;
        height: 45px;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .dpx-prev,
    .dpx-next {
        color: rgba(#fff, .6);
        cursor: pointer;
        display: block; // for IE10
        font-size: 22px;
        line-height: 50px;
        text-align: center;
        transition: .2s;
        width: 50px;

        &:hover {
            color: #fff;
        }
    }
    .dpx-title {
        display: block; // for IE10
        font-size: 18px;
        line-height: 40px;
        padding: 0 10px;
    }
    &:not([data-dpx-type="year"]) .dpx-title {
        cursor: pointer;
    }
    .dpx-content-box {
        box-sizing: content-box;
        display: flex;
        flex-wrap: wrap;
        height: $dpxWeekdaySize + $dpxDaySize * 6;
        justify-content: center;
        padding-top: 10px;
    }
    .dpx-btns {
        border-top: 1px solid #ccc;
        display: flex;
        padding-top: 10px;

        .dpx-item {
            flex: 1 1 0;
            height: 30px !important;
        }
    }
    .dpx-item {
        align-items: center;
        display: flex;
        flex: 1 0 25%;
        justify-content: center;

        &:not(.dpx-weekday) {
            cursor: pointer;

            &:hover {
                box-shadow: inset 0 0 0 2px lighten($dpxActiveColor, 10%), inset 0 0 0 4px $dpxBackgroundColor;
            }
        }
    }
    .dpx-weekday {
        font-size: 1rem;
        font-weight: bold;
        height: $dpxWeekdaySize !important;
    }
    &[data-dpx-type="day"] .dpx-item {
        flex-basis: $dpxDaySize;
        height: $dpxDaySize;
    }
    .dpx-current {
        box-shadow: inset 0 0 0 2px lighten($dpxActiveColor, 20%);
    }
    .dpx-selected {
        background: $dpxActiveColor;
    }
    .dpx-weekend {
        color: $weekEndColor;
    }
    .dpx-out {
        color: #bbb;
    }
    .dpx-disabled {
        color: #666 !important;
        cursor: default !important;
        box-shadow: none !important;

        &.dpx-current {
            box-shadow: inset 0 0 0 2px lighten($dpxActiveColor, 20%) !important;
        }
    }
}
